@font-face {
    font-family: norse;
    src: url(Norse-Bold.otf);
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

* {
    font-family: roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

h3 {
    max-width: 80%;
}

html, body {
    margin: 0px;
    padding: 0px;
    border: none;
    width: 100vw;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-family: norse, sans-serif;
    color: rgba(255, 255, 255, 1)
}

.image-container {
    height: 100%;
    display: flex;
    background-image: url(leaf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.title-container {
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    height: auto;
    width: 100%;
    gap: 15px;
    margin-top: 200px;
    margin-bottom: 450px;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #212b39;
}

fieldset {
    background-color: white;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 60px;
    height: 330px;
    box-shadow: 0px 5px 5px #dcdddd;
    gap: 30px;
}

form {
    flex: 4 0 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

label {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 13px;
    gap: 5px;
    color: #242e3c;
}

input {
    width: 60%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border-radius: 7px; 
    border: solid 0.5px rgba(161, 158, 158, 0.459);
}

input:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #5376d6;
    box-shadow: 1px 1px 1px #5376d6;
    outline: none;
}

input:invalid,
.error {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #c13535;
    box-shadow: 1px 1px 1px #c13535;
    outline: none;
}

fieldset > div {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.logo {
    height: 150px;
    width: 50%;
    margin-left: 100px;
}

.title {
    font-size: 100px;
    color: white;
}

div.footer {
    position: absolute;
    bottom: 10px;
    color: white;
    overflow: visible;
}

a.footer {
    color: white;
}

.form-header,
.form-footer,
fieldset {
    flex: 1 0 auto;
}

.form-header {
    padding: 110px 30px 30px 60px;
    font-size: 20px;
    
}

button {
    background-color: #596D48;
    margin: 30px 0px 30px 60px;
    border: none;
    color: white;
    padding: 20px;
    height: auto;
    width: 200px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
}

.form-footer div {
    margin-left: 60px;
    height: 160px;
    font-weight: 600;
}

.form-footer a {
    color: #596D48;
}

h3:nth-child(3){
    margin-top: 40px;
}

#error-message{
    color: #c33b3b;
    font: 3px;
}
